@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Sen:wght@400&display=swap");
:root {
  --logo-color: #263396;
  --main-blue-font-color: #1c2085;
  --input-gray-font-color: #576677;
  --footer-font-color: #45515f;
  --main-button-blue-color: #38a5db;
  --second-button-blue-color: #63c7ff;
  --white: #ffffff;
  --team-color: #1c1f83;
  --dimmed-title-color: #011226;
  --dimmer-title-description-color: #45515f;
  --concact-section-background: #252b42;
  --contact-form-background: #4250bf;
  --mail-btn-color: #0f81ff;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
h2 {
  font-weight: 400;
}
body {
  margin: 0;
  font-weight: 400;
}
.wrapper {
  width: 90vw;
  margin: 0 auto;
}

.social {
  position: fixed;
  top: 69vh;
  right: 5vw;
  display: flex;
  flex-direction: column;
}
.social__btn {
  padding: 0.5rem;
  background-color: var(--second-button-blue-color);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin-bottom: 0.6rem;
  position: relative;
}
.social__btn__img {
  position: absolute;
}
.social__btn__twitter {
  top: 9px;
}
.social__btn__facebook {
  left: 11px;
  top: 6px;
}
.modal {
  display: none;
}
.modal__background--active {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
  display: initial;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.modal__content--active {
  display: initial;
}
.closeBtn {
  margin: 1.5rem;
  padding: 0.5rem;
  float: right;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url("./assets/Xcircle.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.modal__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  height: 100%;
}
.modal__block {
  width: 100%;
  height: 100%;
}
.modal__content {
  background-color: var(--white);
  border-radius: 20px;
  width: 90vw;
  height: auto;
  margin: auto;
}
.modal__title {
  margin: auto;
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  padding-top: 5rem;
  font-size: 1.5rem;
  color: var(--main-button-blue-color);
}
.modal__text {
  display: block;
  padding: 2rem;
  font-size: 13px;
  line-height: 18px;
  color: var(--footer-font-color);
}

.nav {
  display: flex;
  justify-content: space-between;
}
.sticky {
  z-index: 1;
  position: fixed;
  top: 0;
  margin: auto;
  overflow: hidden;
  width: 100%;
  background-color: var(--white);
}

.nav__logo {
  padding: 0.6rem 0;
  margin: auto 0;
}

.nav__btns ul {
  list-style: none;
  display: flex;
}
.nav__btns ul li {
  color: var(--main-blue-font-color);
  padding: 0.35rem 0.5rem;
  line-height: 19.25px;
}
.nav__btn a {
  text-decoration: none;
}
.nav__btn a:visited {
  color: var(--main-blue-font-color);
}

.nav__btn--active {
  border-bottom: 2px solid #5454d4;
}

.hero {
  position: relative;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin-bottom: 54vw;
}
.background {
  overflow: visible !important;
  position: absolute;

  background: transparent url("./assets/BG/hero__background.svg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  height: 820px;
  width: 100%;
  z-index: -1;
}

.hero__introduction {
  padding-bottom: 27vw;
}
.hero__text {
  font-size: 1.5rem;
  color: var(--white);
  letter-spacing: 0.2px;
  line-height: 32px;
  font-family: Sen;
  font-style: normal;
  font-weight: 700;
  margin: 8rem 0 3.5rem 0;
}
.hero__form {
  margin-bottom: 3rem;
}
.hero__form__label {
  font-size: 14px;
  color: var(--white);
  opacity: 0.7;
  line-height: 26px;
  font-weight: 400;
}

.form__input {
  font-size: 17px;
  padding: 0.8rem 1.3rem;
  border-radius: 30px;
  width: 100%;
  margin: 0.5rem 0;
  border: none;
}
.form__input:focus {
  outline: none;
}

.hero__form__text {
  color: var(--input-gray-font-color);
}

.form__btn {
  color: var(--white);
  background-color: var(--main-button-blue-color);
  cursor: pointer;

  font-weight: 400;
}
.hero__arrow {
  position: relative;
}
.hero__arrow {
  margin: auto;
  width: max-content;
}
.hero__arrow__img {
  padding: 0.4rem;
  border: 1px solid rgba(231, 231, 231, 0.3);
  border-radius: 50px;
  cursor: pointer;
}
.hero__block__right {
  display: none;
}
.hero__video__controls:focus {
  outline: none;
}
.hero__video__controls {
  width: 90vw;
  border-radius: 7px;
}

.team__title {
  letter-spacing: 12px;
  margin: auto;
  color: var(--team-color);
  width: fit-content;
  margin-bottom: 1rem;
  width: -moz-fit-content;
}
.team__title__text {
  margin: auto;
}
.team__people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 4rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.team__people::-webkit-scrollbar {
  display: none;
}

.team__person {
  margin: 0 1rem;
  width: 400px;
  padding: 0.5rem;
  max-width: 200px;
}
.team__person:hover {
  cursor: pointer;
}

.team__person__block {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0.7rem auto;
  text-align: center;
  font-weight: 400;
}
.team__person__title {
  color: var(--main-button-blue-color);
  white-space: nowrap;
}
.team__person__position {
  color: var(--dimmed-title-color);
  opacity: 0.5;
  font-size: 13px;
  letter-spacing: 0.26px;
}
.team__person__description {
  color: var(--dimmer-title-description-color);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.team__person__social {
  color: white;
}
.team__person__social__img {
  padding: 0.3rem 1rem;
  border: 1px solid rgba(127, 139, 152, 0.3);
  border-radius: 4px;
  text-decoration: none;
}
.team__scroll {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  display: flex;
  position: relative;
  margin-left: 42vw;
}
.team__scroll__dot {
  content: none;
  width: 20px;
}
.team__scroll__dot::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #c4c4c4;
  border-radius: 10px;
  top: -30px;
}
.team__scroll__dot--active::before {
  background-color: var(--contact-form-background);
}

.contact {
  background-color: var(--concact-section-background);
}

.contact__description {
  text-align: center;
  color: var(--white);
}

.contact__description__title {
  letter-spacing: 12px;
  font-weight: 400;
  margin: 2rem 0;
}
.contact__description__text {
  font-weight: 400;
  font-size: 14px;
  margin: 2rem 0 3rem 0;
}
.contact__wrapper {
  padding: 4rem 0;
}

.contact__form {
  background-color: var(--contact-form-background);
  padding: 1.2rem;
  border-radius: 10px;
}
.contact__form form {
  padding: 3rem 0;
}
.contact__form__input {
  margin: 1rem 0;
}

.form__checkbox {
  /* display: none; */
  /* display: none; */
  /* border: 1px solid red; */
  /* border-radius: 50%; */
  /* cursor: pointer; */
  /* padding: 0.2rem; */
}

.form__checkbox::before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 24px;
  height: 24px;
  border-radius: 5px;
}
.form__checkbox--active::before {
  content: "";
  display: inline-block;
  background-image: url("./assets/checkbox_ok.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border-radius: 5px;
}

.form__input__checkbox__block {
  position: relative;
}
.form__checkbox_text {
  color: var(--white);
  text-align: center;
  align-content: center;
  height: 24px;
  position: absolute;
  top: 37%;
  line-height: 18px;
  margin-left: 2.5rem;
}

.form__contact__submit {
  width: auto;
  padding: 0.7rem 1.5rem;
  box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
}
.footer {
  background: linear-gradient(
    180deg,
    #fafbff 0%,
    #eff1f9 41.68%,
    #e9ecf6 49.59%,
    #ced3e8 93.91%
  );
}
.footer__logo {
  padding-top: 2rem;
  margin: 0 0 2rem 0;
}
.footer__contanct {
  width: fit-content;
  width: -moz-fit-content;
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: column;
}
.footer__mail {
  color: var(--mail-btn-color);
  font-size: 20px;
}
.footer__submit {
  width: fit-content;
  margin: 2.5rem auto;
  width: -moz-fit-content;
}
.footer__submit a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  padding: 1rem 1.5rem;
}

.footer__wrapper {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}
.footer__wrapper h3 {
  margin: 0.6rem 0;
}
.footer__info {
  text-align: center;
  width: 50%;
}
.footer__info a {
  font-weight: 400;
  align-self: center;
  line-height: 24px;
  font-size: 12px;
  color: var(--dimmer-title-description-color);
  white-space: nowrap;
  text-decoration: none;
}
.footer__wrapper__background {
  background-color: var(--white);
}
.footer__wrapper p {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 84vw;
  }
  .background {
    height: 1100px;
  }
  .wrapper__tablet {
    width: 96vw;
  }

  .social {
    right: 2vw;
    top: 60vh;
    z-index: 1;
  }
  .hero {
    margin-bottom: 50vw;
    height: 850px;
  }
  .hero__text {
    font-size: 2.5rem;
    line-height: 56px;
    margin-top: 12rem;
  }

  .hero__form {
    margin-bottom: 6rem;
  }
  .form__input {
    margin: 1rem 0;
  }
  .hero__form__inputs {
    position: relative;
  }
  .hero__form__btn {
    position: absolute;
    right: -1px;
    width: 9rem;
    padding: 0.8rem 2rem;
  }
  .hero__introduction {
    padding-bottom: 13rem;
  }

  .hero__video__controls {
    max-width: 84vw;
    display: block;
    margin: 0 auto;
    display: initial;
  }
  .hero__arrow__img {
    width: 60px;
    padding: 1.1rem;
  }
  .hero__form__label {
    font-size: 18px;
  }

  .social__btn {
    width: 40px;
    height: 40px;
  }
  .social__btn__twitter {
    width: 22px;
    height: 18px;
    top: 12px;
    left: 10px;
  }
  .social__btn__facebook {
    width: 11px;
    height: 22px;
    left: 14px;
    top: 8px;
  }
  .team__person {
    margin: 0 3rem;
    max-width: 300px;
  }
  .team__person__title {
    font-size: 1.5rem;
    width: 21vw;
  }
  .team__person__description {
    font-size: 18px;
    line-height: 24px;
  }
  .contact__description__text {
    width: 40vw;
    margin: 1rem auto 3rem auto;
    font-size: 18px;
    line-height: 24px;
  }
  .contact__form {
    width: 50vw;
    margin: auto;
    padding: 2rem;
  }
  .modal__content {
    width: 84vw;
  }
  .modal__title {
    font-size: 2.5rem;
    line-height: 34px;
    width: auto;
  }
  .modal__text {
    font-size: 18px;
    line-height: 24px;
  }

  .footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }
  .footer__logo {
    padding: 0;
    margin: auto 0;
  }
  .footer__submit {
    margin: auto 0;
  }
  .footer__contanct {
    margin: 1rem auto;
  }
  .footer__logo__image {
    width: 96px;
  }
  .footer__wrapper__background {
    background-color: inherit;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer__wrapper h3 {
    width: 24%;
  }
  .footer__wrapper h3 a {
    font-size: 18px;
    line-height: 24px;
  }
  .footer__wrapper p {
    display: initial;
    margin: auto;
    color: #9ca4c7;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 80vw;
    max-width: 1550px;
  }
  .background {
    max-height: 60vw;
    background-position-y: bottom;
  }
  .social {
    right: calc(10vw - 40px);
    top: 50vh;
  }
  .hero {
    background-position-y: 84%;
    margin-bottom: 0;
  }
  .hero__text {
    margin-bottom: 2rem;
  }

  .hero__video {
    display: none;
  }
  .hero__block {
    display: flex;
    margin-bottom: 2vw;
  }
  .hero__block__left {
    width: 44%;
  }
  .hero__form {
    margin-bottom: -2rem;
  }
  .hero__block__right {
    margin: auto;
    display: initial;
    padding-top: 14vh;
  }
  .hero__video__controls {
    width: 37vw;
    max-width: 700px;
  }
  .team {
    margin-top: 5vw;
  }
  .team__scroll {
    display: none;
  }
  .team__people {
    overflow-x: unset;
  }
  .team__person {
    margin: 0;
    max-width: 290px;
  }
  .team__person__title {
    width: 100%;
  }
  .contact__form {
    width: 30vw;
    max-width: 450px;
  }
  .modal__content {
    width: 50vw;
  }
  .modal__text {
    max-height: 30vh;
    overflow-y: scroll;
    margin: 0 0.5rem 2.5rem 0;
  }
  .modal__text::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(44, 54, 118, 0.4);
  }
  .modal__text::-webkit-scrollbar {
    width: 10px;
  }
  .footer__wrapper {
    margin: auto;
    width: 50vw;
  }
  .contact__description__text {
    width: 25vw;
    max-width: 350px;
  }
}
@media screen and (min-width: 1940px) {
  .social {
    right: calc(((100% - 1550px) / 2) - 40px);
  }
}
